* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.contenedor {
  width: 100%;
  height: auto;
  background-color: #ffe4d0;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

.write-us {
  position: absolute;
  top: 20%;
  left: 60%;

  color: #fefeff;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;

  z-index: 1;
}

/* Aca comienzan las formitas */

.formas {
  display: flex;
  width: 100vw;
  height: auto;
  padding-top: 80px;
  flex-direction: row;
  justify-content: center;
}
.rojo {
  background-color: rgba(255, 0, 0, 0.849);
  height: 600px;
  width: 90px;
  transform: rotate(40deg);
  transform-origin: 10em 30em;
  animation-name: rojo;
}

.verde {
  position: relative;
  height: 560px;
  width: 560px;
  left: 40px;
  margin-top: 100px;

  border-radius: 50%;
  background-color: rgba(46, 139, 86, 0.781);

  animation-name: verde;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.naranja {
  background-color: rgba(226, 159, 14, 0.815);
  height: 200px;
  width: 500px;
  margin-top: 300px;
  position: relative;
  left: -50px;
  /* animation-name: naranja; */
  animation-duration: 2s;
  animation-direction: alternate;
  /*animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;*/
}

.amarillo {
  background-color: yellow;
  height: 500px;
  width: 100px;
  margin-right: 3vw;
}

.violeta {
  background-color: rgb(190, 10, 151);
  height: 300px;
  width: 80px;
}

@keyframes verde {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}
@keyframes naranja {
  from {
    background-color: rgba(226, 159, 14, 0.815);
    width: 500px;
  }
  to {
    background-color: coral;
    width: 700px;
  }
}

/* Aca el encabezado y el nav */

/* Header */

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 3vh;
  font-size: 20px;
}
.menu {
  display: flex;
  flex-direction: row;
}

li {
  font-family: "Montserrat", sans-serif;
}

.menu a {
  color: rgb(41, 39, 39);
  text-decoration: none;
  font-size: 25px;
  padding-left: 2vw;
  padding-right: 2vw;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #f5ccae88;
  border-bottom: 1px solid #ddcfc5ab;
}

/* Entradas */

.entradas {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.entradas article {
  width: 20%;
  height: 40%;

  background-color: rgb(248, 241, 248);
  border: solid #333 2px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  padding: auto;
}

.box {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #5dc09f;
}

.box-title {
  font-size: 3em;
}

.box > div {
  width: 50%;
}

.box .text {
  color: #f5ccae88;
  padding: 60px;
}

.box .image {
  display: flex;
  justify-content: center;
}

.box .image img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
}

.btn-green {
  border-color: #f5ccae88;
  background-color: #5dc09f;
}

.btn-transparent {
  border-color: #f5ccae88;
  background-color: purple;
}

.btn-large {
  height: 60px;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: #231e21;
}
