html {
  width: 100%;
  height: auto;
}
.contenedor {
  width: 100%;
  height: auto;
  background-color: #f4bcc9;
}
.ladoa {
  width: 100%;
  margin: 0 auto;
}
.sidebar {
  width: 40%;
  height: 300px;
  text-align: left;
  position: relative;
  top: 200px;
  background-size: cover;
}
.encabezado {
  text-align: left;
  position: relative;
  left: 30px;
  width: 40%;

  padding: 60px 10px;
}

ul {
  list-style-type: none;
}

li {
  font: Raleway;
  font-family: sans-serif;
  padding-top: 20px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.escribirnos {
  width: 100%;
  position: absolute;
  top: 800px;
  background-color: rgba(153, 18, 18, 0.1);
  padding-left: 30px;
  font-size: 40px;
}

.image {
  max-width: 100%;
  height: 100vh;
  background-image: url("image/imagerosa.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4bcc9;
}

.paraque {
  width: 100%;
  height: 100vh;
  background-image: url("image/thought-catalog-FACFpJVoMJs-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.entradas {
  width: 100%;
  height: 100vh;
  background-image: url("image/hunter-newton-yKc4YuGMPC4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.entradaa {
  width: 300px;
  height: 90px;
  background-color: rgb(132, 90, 136);
  border: black 5px solid;
  padding: 10px;
  margin: 20px;
  float: left;
}
.entradab {
  width: 300px;
  height: 90px;
  background-color: grey;
  border: black 5px solid;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  float: left;
}
.entradac {
  width: 300px;
  height: 90px;
  background-color: rosybrown;
  border: black 5px solid;
  padding: 10px;
  margin: 20px;
  float: left;
}
